.results-container {
  width: 76%;
  margin: 2rem 2rem 1rem 3.3rem;
  height: calc(100vh - 9rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

.results-container .content-card {
  margin: 0 3rem 6rem 0;
}

.results-container .content-card .content_title {
  text-align: center;
  margin-top: 1rem;
  color: var(--blue);
  font-size: 1.4rem;
  font-weight: bold;
}
