.results-container {
  width: 76%;
  margin: 2rem 2rem 1rem 3.3rem;
  height: calc(100vh - 9rem);
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.results-container::-webkit-scrollbar {
    width: 12px;
}

.results-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 none; 
    border-radius: 0;
}

.results-container::-webkit-scrollbar-thumb {
   border-radius: 10px;
  box-shadow: inset 0 0 26px var(--grey);
}

.results-container .content-card {
  margin: 0 3rem 6rem 0;
}

.results-container .content-card .content_title {
  text-align: center;
  margin-top: 1rem;
  color: var(--blue);
  font-size: 1.4rem;
  font-weight: bold;
  overflow-wrap: break-word;
  max-width: 300px;
}

.results-container .content-card img {
  min-width: 300px;
  min-height: 500px;
}
