header {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 79%;
}

.title {
  width: 15%;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.search {
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.menu .selectedBtn {
  color: var(--white);
}
